<body>
  <h2 style="font-size: 35px; color: white; margin: 40px;">
    Retail-Dairy Bill Generator
  </h2>

  <!--Selection of products and quantity-->

  <div class="container">

    <div class="form-group">
      <label for="item">Select Item</label>
      <select id="item" class="form-control" [(ngModel)]="selectedItem">
        <option value="null" disabled option>Select the products</option>
        <option *ngFor="let item of items " [ngValue]="item">
          {{item.name}}-Rs.{{item.price}} {{ item.discount ? '(20% Off)' : '' }}
        </option>
      </select>
      <label for="quantity">Quantity</label>
      <input id="quantity" type="number"  class="form-control"  [(ngModel)]="quantity" min="1"/>
      <span *ngIf="isInvalidQuantity" style="color: red; font-size: 14px;">
         Please enter a valid quantity
      </span>
    </div>

<div class="add-to-cart">
    <button  (click)="addToCart()">Add to cart</button>
  </div>

  </div>


    <!-- Cart Table -->
<div class="container">

     <div class="cart-items">
      <h3>Cart Items Added</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>Rs.{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>Rs.{{item.total.toFixed(2)}}</td>
        </tr>
      </tbody>
    </table>

    <h3 style="font-size: 25px;">Total Bill Amount: Rs.{{ totalBill.toFixed(2) }}</h3>

    

  </div>


<div class="bottom-buttons">
  <!--Reset Button--> 
  <button  (click)="resetCart()">Reset Cart</button>


    <!--Bill Button -->
    <button    routerLink="/bill"  (click)="navigateToBill()" >Generate Bill
      </button>
    </div>

  
  </div>
</body>
