/* body {
    margin: 0; 
    height: 100vh; 
    background: linear-gradient(to bottom, black, white); 
} */


body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('src/assets/logi.jpg') no-repeat center center fixed; /* Background image */
    background-size: cover; 
    font-family: Arial, sans-serif;
    z-index: 2;
    overflow: hidden;
  }
  

  html{
    background-color: black;
  }