/* body {
    margin: 0; 
    height: 100vh; 
    background: linear-gradient(to bottom, black, white); 
} */





  body{
    background-color: black;
    margin:0;
    padding:0;
    height:100vh;
    justify-content: center;
    align-items: center;
    background:url('src\assets\background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
  }